#!/usr/bin/python

config = {
	'os_target':		'linux.Ubuntu64',
	'package_source':	'sources.list',
	'package_arch':		'amd64',
	'package_options':	{},

	'sql_engine':		'postgresql.PostgreSQL',
	'postgresql_host':	'localhost',
	'postgresql_user':	'syspop',
	'postgresql_pass':	'syspop',
	'postgresql_db':	'api_compat_study',

	'scheduler':            'scheduler.SimpleScheduler',
	'scheduler_host':       '127.0.0.1',
	'scheduler_port':       5000,
}
